@using FourYearClassPlanningTool.Models.Users.Entities;
@{
    ViewData["Title"] = "Courses";
}

<style>
    table {
        border: 3px solid #216A9B;
        background-color: lightblue;
    }

    th, td {
        border: 1px solid black;
        background-color: lightblue;
    }
</style>
<h2>Completed Courses</h2>
<u1>
    @if (ViewData["Courses"] != null)
    {
        <table style = "width:100%">
          <thead>
            <tr>
                <th>Course</th>
                <th>Credits</th>
            </tr>
          </thead>
          <tbody>
            @foreach (Course c in (ICollection<Course>)ViewData["Courses"])
            {
                <tr>
                    <td>@c.CourseId: @c.Name</td>
                    <td>@c.Credits</td>
                </tr>
            }
          </tbody>
        </table>
    }
</u1>