@using FourYearClassPlanningTool.Models.Requirements.Entities;
@{
    ViewData["Title"] = "Create Future Schedule";
} 
<style>
    table, button, submit {
        border: 3px solid #216A9B;
        background-color: lightblue;
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        border: 1px solid black;
        background-color: lightblue;
    }
</style>

<h1>Create Future Schedule</h1>
  
<script type="text/javascript">

    function createFirstSchedule() {
        var body = document.body,
            tbl = document.createElement('table');
        for (var i = 0; i < 3; i++) {
          var tr = tbl.insertRow();
            for (var j = 0; j < 2; j++) {
               if (i == 2 && j == 1) {
                 break;
               } else {
                   var td = tr.insertCell();
                   td.appendChild(document.createTextNode('Cell'));
                   if (i == 1 && j == 1) {
                       td.setAttribute('rowSpan', '2');
                   }
               }
            }
        }
        body.appendChild(tbl);
    }

    function addField(table) {

        var tableRef = document.getElementById(table);
        var newRow = tableRef.insertRow(-1);

        var newCell = newRow.insertCell(0);
        var newElem = document.createElement('input');
        newElem.setAttribute("name", "links");
        newElem.setAttribute("type", "text");
        newCell.appendChild(newElem);

        newCell = newRow.insertCell(1);
        newElem = document.createElement('input');
        newElem.setAttribute("type", "button");
        newElem.setAttribute("value", "Delete course");
        newElem.setAttribute("onclick", 'deleteRow(this)')
        newCell.appendChild(newElem);
    }

    function deleteRow(row) {
        var i = row.parentNode.parentNode.rowIndex;
        row.parentNode.parentNode.parentNode.parentNode.deleteRow(i);
    }

    function makeDropDown(table) {
        var tableRef = document.getElementById(table);
        var newRow = tableRef.insertRow(-1);
        var newCell = newRow.insertCell(0);
        var newElem = document.createElement("select");
        @foreach(Course c in (List<Course>)ViewData["Courses"]) 
        {
            @:var option = document.CreateElement("option");
            @:option.text = @c.Name;
            @:newElem.add(option);
        }
        newCell.appendChild(newElem);
    }
</script>

<html>
<table id="tbl">
    <tr>
        <th colspan="2">Fall 2021</th>
    </tr>
    <tr>
        <td>
            <select name="course" id="courses">
              @foreach(Course c in (List<Course>)ViewData["Courses"])
              {
                <option value="@c.CourseId">@c.Name</option>
              }
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" class="button" value="Add new semester" onclick="makeDropDown(this);" />
        </td>
    </tr>
</table>
</html>