@{
    ViewData["Title"] = "Index";
}

<style>
    table, button {
        border: 3px solid #216A9B;
        background-color: lightblue;
        margin-left: auto;
        margin-right: auto;
    }
    th, td {
        border: 1px solid black;
        background-color: lightblue;
    }
    table {
        width: 500px;
    }
</style>

<h1 style="text-alin:center">Index</h1>

<table >
    <tr>
        <br />
        <br />
        <td style="text-align:center">@Html.ActionLink("View Remaining Requirements", "FillRemainingRequirements")</td>
        <br />
        <br />
    </tr>
    <tr>
        <br />
        <br />
        <td style="text-align:center">@Html.ActionLink("View Schedules", "Schedules")</td>
        <br />
        <br />
    </tr>
    <tr>
        <td style="text-align:center">@Html.ActionLink("View Completed Courses", "CompletedCourses")</td>
    </tr>
</table>