@using FourYearClassPlanningTool.Models.Users.Entities;
@{
    ViewData["Title"] = "Schedules";
}

<style>
    table {
        border: 3px solid #216A9B;
        background-color: lightblue;
    }

    th, td {
        border: 1px solid black;
        background-color: lightblue;
    }
</style>
<h2>Schedules</h2>

<u1>
    @if (ViewData["Schedules"] != null)
    {
        @foreach (Schedule s in (ICollection<Schedule>)ViewData["Schedules"])
        {
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>@s.Semester</th>
                        <th>Credits</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Course c in s.Courses)
                    {
                        <tr>
                            <td>@c.CourseId: @c.Name</td>
                            <td>@c.Credits</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        }
    }
</u1>
