@model IEnumerable<FourYearClassPlanningTool.Models.Users.Entities.Course>

@{
    ViewBag.Title = "Import Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please Login to Add Courses</h2>


